<!DOCTYPE html>
<html>
  <head>
    <title>Educación Financiera</title>
    {{!-- <link rel='stylesheet' href='/stylesheets/style.css' /> --}}
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css"/>
    <link rel="stylesheet" href="/fontawesome-free/css/all.css">
    <script src="/javascripts/jquery.js"></script>
    <script src="/javascripts/main.js"></script>
    <link rel='shortcut icon' type='image/x-icon' href='/img/logo.png' />
  </head>
  <body>
    {{>nav}}
    <main class="container p-4">
    {{>messages}}
    {{>errors}}
    {{{body}}}
    </main>
    {{>footer}}
  </body>
</html>
