<div class="row">
    <div class="col-md-8 justify-content-between">
        <div class="card">
            <div class="card-header">
                <h2>Explicaci칩n de lo conceptos</h2>
            </div>
            <div class="card-body">
                <strong>Inflacion: </strong><p>La inflaci칩n es el aumento del precio de lo productos debido a un aumento en la produccion de billetes frente a los bienes. Es decir, cuando hay m치s dinero que bienes que comprar, estos producto aumentar치n su precio</p>
                <br>
                <strong>Oferta: </strong> <p> Es la cantidad de productos que se ofrecen en un mercado.</p>
                <strong>Demanda: </strong> <p>E la cantidad de producto que se solicitan en un mercado.</p>
            </div>
        </div>
    </div>
</div>