<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 justify-content-between ml-8">
        <div class="card">
            <div class="card-header align-center">
                <h2 class="mx-auto">Explicación de algunos conceptos</h2>
            </div>
            <div class="card-body">
                <strong>Inflacion: </strong>
                <p>La inflación es el aumento del precio de lo productos debido a un aumento en la circulación de
                    billetes frente a los bienes. Es decir, cuando hay más dinero que bienes que comprar, estos producto
                    aumentarán su precio</p>
                <br>
                <strong>Oferta: </strong>
                <p> Es la cantidad de productos que se ofrecen en un mercado.</p>
                <strong>Demanda: </strong><p>Es la cantidad de producto que se solicitan en un mercado.</p>  
                <strong>Préstamo: </strong><p> Una operación por la cual una entidad financiera pone a nuestra disposición una cantidad
                determinada de dinero mediante un contrato. En un préstamo nosotros adquirimos la obligación de devolver
                ese dinero en un plazo de tiempo establecido</p>
                <strong>Tasa: </strong><p>
                    Es un coeficiente que expresa la relación entre la cantidad y la frecuencia de un fenómeno o un grupo de números.
                </p>
                <strong>Activo: </strong>
                <p>Es un bien o servicio que puede generar ingresos.</p>
                <strong>Pasivo: </strong>
                <p>Es un bien o servicio que puede generar gastos de forma directa o indirecta. Estos se pueden convertir
                    en un activo si su valor puede ser invertido. 
                </p>
            </div>
        </div>
    </div>
</div>