<div class="row">
    <div class="col-md-8 mx-auto">
        <div class="card">
            <div class="card-header">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="prob1-tab" data-toggle="tab" href="#prob1" role="tab"
                            aria-controls="prob1" aria-selected="true">Problema #1</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="prob2-tab" data-toggle="tab" href="#prob2" role="tab"
                            aria-controls="prob2" aria-selected="false">Problema #2</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="prob3-tab" data-toggle="tab" href="#prob3" role="tab"
                            aria-controls="prob3" aria-selected="false">Problema #3</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="prob4-tab" data-toggle="tab" href="#prob4" role="tab" aria-controls="4"
                            aria-selected="false">Problema #4</a>
                    </li>
                </ul>
            </div>
            <div class="card-body">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="prob1" role="tabpanel" aria-labelledby="prob1-tab">
                        <blockquote>
                            <ul>
                                <li>María ahorró 10.000 dólares en el 2017, ahora solo tiene 9000 ¿Cómo pasó esto?</li>
                            </ul>
                        </blockquote>
                        <hr>
                        <p> La respuesta es la inflación, realmente Maria sigue teniendo 10.000 dolares en efectivo, sin
                            embargo,
                            como
                            la inflación aumentó, el dinero que necesitas para comprar esas cosas es mayor, por lo cual,
                            ya no
                            podrás
                            comprar tantas cosas. </p>
                            <img src="/img/inflacion.jpg" alt="Inflación" class="img-fluid">
                    </div>
                    <div class="tab-pane fade" id="prob2" role="tabpanel" aria-labelledby="prob2-tab">
                        <blockquote>
                            <ul>
                                <li>Alejandro quiere crear una empresa, pero no tiene dinero ¿Qué puede hacer?</li>
                            </ul>
                        </blockquote>
                        <hr>
                        <p> Alejandro puede ahorrar, o hacer un préstamo. Pero lo mejor sería hacer los dos, ahorrar un
                            poco y
                            luego
                            pedir un prestamo, así tendrá mejor inicio en su empresa. </p>
                            <img src="/img/prestamo.jpg" alt="Prestamo" class="img-fluid">
                    </div>
                    <div class="tab-pane fade" id="prob3" role="tabpanel" aria-labelledby="prob3-tab">
                        <blockquote>
                            <ul>
                                <li>La empresa de Alejandro creció, pero se estanco… ¿Qué hará Alejandro?</li>
                            </ul>
                        </blockquote>
                        <hr>
                        <p>Alejandro puede recurrir a la bolsa, si su empresa es grande, o puede realizar otro prestamo,
                            en el
                            caso
                            de
                            haber pagado el otro.</p>
                            <img src="/img/bolsa.jpg" alt="Bolsa" class="img-fluid">
                    </div>
                    <div class="tab-pane fade" id="prob4" role="tabpanel" aria-labelledby="prob4-tab">
                        <blockquote>
                            <ul>
                                <li>José necesita otros 5.000 dólares para viajar por todo el mundo ¿Qué debe hacer
                                    para
                                    cumplir su
                                    sueño?</li>
                            </ul>
                        </blockquote>
                        <hr>
                        <p>Maria en este caso, puede solicitar una tarjeta de credito, la cuál será util para abolir
                            todos los
                            gastos de
                            su viaje.</p>
                            <img src="/img/credito para viajar.png" alt="Credito para viajar" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>