<div class="jumbotron">
    <h1 class="display-3">
        Bienvenido!
    </h1>
    <p>Al curso de educación financiera, donde te enseñaremos conceptos, y principalmente Cómo y por qué hacer un
        prestamo</p>
    <hr class="my-4">
    <p class="lead">Si quieres saber más da clic a los siguientes links. Te debes registrar,
        y haremos un simulacro de un prestamo, explicando el algoritmo, y las razones por las que fue
        aceptado o no.</p>
    <p class="lead">Empezar:</p>
    <a href="/problematica" class="btn btn-primary btn-lg" role="button">Ir a la problematica</a>
    <a href="/users/ingresar" class="btn btn-primary btn-lg" role="button">Iniciar sesión</a>
    <a href="/users/registro" class="btn btn-primary btn-lg" role="button">Registrarse</a>
</div>