<div class="jumbotron">
    <h1 class="display-3">
        Bienvenido!
    </h1>
    <div class="row">
        <div class="col-md-6">
            <p>Al curso de educación financiera, donde te enseñaremos conceptos, y principalmente Cómo y por qué hacer
                un
                prestamo</p>
            <hr class="my-4">
            <p class="lead">Si quieres saber más da clic a los siguientes links. <br> Te debes registrar,
                y haremos un simulacro de un prestamo, explicando el algoritmo, y las razones por las que fue
                aceptado o no.</p>
        </div>


        <div class="col-md-6 align-rigth">
            <img src="/img/Imagen1.jpg" class="img-fluid size:50%">
        </div>

    </div>
    <p class="lead">Empezar:</p>
    <a href="/problematica" class="btn  btn-lg" role="button" style="background-color:purple;color:white;">Ir a la problematica</a>
    <a href="/users/ingresar" class="btn  btn-lg" role="button" style="background-color:purple;color:white;">Iniciar sesión</a>
    <a href="/users/registro" class="btn  btn-lg" role="button" style="background-color:purple;color:white;">Registrarse</a>
</div>