<div class="jumbotron">
    <h1 class="display-3">
        Bienvenido!
    </h1>
    <p>Al curso de educación financiera, donde te enseñaremos conceptos, y principalmente Cómo y por qué hacer un
        prestamo</p>
    <hr class="my-4">
    <p class="lead">Empezar:</p>
    <a href="#" class="btn btn-primary btn-lg" role="button">...</a>
</div>