<div class="row">
    <div class="col-md-10 mx-auto">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Problematica</h4>
            </div>
            <div class="card-body">
                <blockquote>
                    <ul>
                        <li> María ahorró 10.000 dólares en el 2017, ahora solo tiene 9000 ¿Cómo pasó esto?</li>
                        <li>Alejandro quiere crear una empresa, pero no tiene dinero ¿Qué puede hacer?</li>
                        <li> La empresa de Alejandro creció, pero se estanco… ¿Qué hará Alejandro?</li>
                        <li>María necesita otros 5.000 dólares para viajar por todo el mundo ¿Qué debe hacer para
                            cumplir su
                            sueño?</li>
                    </ul>
                </blockquote>
                <p>Todas estás problemáticas las podemos resolver con las finanzas. Y las tres ultimas las podríamos
                    resolver
                    con prestamos. Pero ¿Cómo?
                    <br>
                    ¿Cuál es la idea principal detrás de un prestamo?
                    ¿Por qué deberiamos recurrir a un prestamo?
                </p>               
            </div>
            <div class="container justify-content-center mb-4">
                    <div class="btn-group mx-auto">
                        <a href="/ejemplos" class="btn btn-primary btn-lg mr-2 ml-2" role="button">Respuesta a los
                            ejemplos</a>
                        <a href="/conceptos" class="btn btn-success btn-lg mr-2 ml-2" role="button">Entiende los
                            conceptos</a>
                        <a href="/solucion" class="btn btn-warning btn-lg mr-2 ml-2" role="button">Solución</a>
                    </div>
                </div>
        </div>
    </div>
</div>