<div class="container">
    <div class="card">
        <div class="card-header">
            Formulario del préstamo.

        </div>
        <div class="card-body">
            
        </div>
    </div>
</div>