<script src="/javascripts/buttons.js"></script>
<div class="container">
    <div class="card">
        <div class="card-header">
            Formulario del préstamo.

        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6 ">
                    <h4>¿Para qué necesitas el préstamo?</h4>
                    <div class="btn-group btn-group-lg mx-auto justify-content-between">
                        <button type="button" class="btn btn-secondary"><i class="fas fa-home"></i> Muebles</button>
                        <button type="button" class="btn btn-secondary"><i class="fas fa-car-alt"></i> Coche</button>
                        <button type="button" class="btn btn-secondary"><i class="fas fa-donate"></i> Otros</button>
                    </div>
                    <hr>
                    <div class="form-group text-center mx-auto">
                        <form action="/simulador" method="POST">
                            <legend> ¿Cuánto dinero necesitas?</legend>
                            <input type="number" name="income" class="form-control" min="3000" max="75000" required>
                            <span class="c-input-currency__description-text">Mín. 3.000 $ - Máx. 75.000 $</span>
                            <legend> ¿Cuáles son tus gastos mensuales?</legend>
                            <input type="number" name="income" class="form-control" min="3000" max="75000" required>
                            <br>
                        <button type="submit" class="btn btn-success disabled">Calcular cuota</button>
                        </form>       
                    </div>
                    <em class="text-muted">*La cantidad de titulares es 1</em>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="grid-col-lg-6" id="advisor">
    <div id="tipus">
        <fieldset class="segcontrol icons trix fer">
            <legend>¿Para qué necesitas el préstamo?
            </legend>
            <label class="radioOption" for="tipo-viv">
                <input type="radio" id="tipo-viv" name="tipo" value="viv" checked="checked" data-filter=""><span><em
                        class="c-icon-mortaje" aria-hidden="true"></em><em>Muebles</em></span>
            </label>
            <label class="radioOption" for="tipo-auto">
                <input type="radio" id="tipo-auto" name="tipo" value="auto" data-filter=""><span><em class="c-icon-auto"
                        aria-hidden="true"></em><em>Coche</em></span>
            </label>
            <label class="radioOption" for="tipo-otro">
                <input type="radio" id="tipo-otro" name="tipo" value="otro" data-filter=""><span><em class="c-icon-hand"
                        aria-hidden="true"></em><em>Otros </em></span>
            </label>
        </fieldset>
    </div>
    <div class="no" id="tipusother">
        <fieldset class="radio-group">
            <legend>Elige la opción que más se ajusta a lo que necesitas</legend>
            <!-- <label class="radioOption" for="otipo-mue">
                      <input class="inputcheck" type="radio" id="otipo-mue" name="otipo" value="mue" data-filter="" data-preg=""/><span class="optiondes">Muebles</span>
                    </label> -->
            <label class="radioOption" for="otipo-elec">
                <input class="inputcheck" type="radio" id="otipo-elec" name="otipo" value="elec" data-filter=""
                    data-preg=""><span class="optiondes">Electrodomésticos</span>
            </label>
            <label class="radioOption" for="otipo-san">
                <input class="inputcheck" type="radio" id="otipo-san" name="otipo" value="san" data-filter=""
                    data-preg=""><span class="optiondes">Sanidad</span>
            </label>
            <label class="radioOption" for="otipo-via">
                <input class="inputcheck" type="radio" id="otipo-via" name="otipo" value="via" data-filter=""
                    data-preg=""><span class="optiondes">Viajes</span>
            </label>
            <label class="radioOption" for="otipo-moto">
                <input class="inputcheck" type="radio" id="otipo-moto" name="otipo" value="moto" data-filter=""
                    data-preg=""><span class="optiondes">Motocicleta</span>
            </label>
            <label class="radioOption" for="otipo-boda">
                <input class="inputcheck" type="radio" id="otipo-boda" name="otipo" value="boda" data-filter=""
                    data-preg=""><span class="optiondes">Boda</span>
            </label>
            <label class="radioOption" for="otipo-estudios">
                <input class="inputcheck" type="radio" id="otipo-estudios" name="otipo" value="estudios" data-filter=""
                    data-preg=""><span class="optiondes">Estudios</span>
            </label>
        </fieldset>
    </div>
    <div class="no" id="coche">
        <fieldset class="segcontrol res">
            <legend>¿El coche tiene menos de 3 años?
            </legend>
            <label class="radioOption" for="tipoc-si">
                <input type="radio" id="tipoc-si" name="tipoc" value="si" checked="checked"
                    data-filter=""><span>Sí</span>
            </label>
            <label class="radioOption" for="tipoc-no">
                <input type="radio" id="tipoc-no" name="tipoc" value="no" data-filter=""><span>No</span>
            </label>
        </fieldset>
    </div>
    <div id="montante">
        <div>
            <div class="grid-row">
                <div class="grid-col-lg-12">
                    <div class="c-input-currency--label-over c-input-currency--right c-input-currency--symbol">
                        <label class="c-input-currency__label" for="amount">¿Cuánto dinero necesitas?
                        </label>
                        <div class="c-input-currency__wrapper">
                            <input class="c-input-currency__input" id="amount" name="amount" type="text" value=""
                                placeholder="Importe" aria-invalid="false" aria-describedby="description-amount"
                                style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR4nGP6zwAAAgcBApocMXEAAAAASUVORK5CYII=&quot;); cursor: auto;">
                            <div class="c-input-currency__symbol">€</div>
                            <div class="c-input-currency__description" id="description-amount">
                                <div class="m-validation">
                                    <div class="m-validation__error" role="alert">
                                        <i class="c-icon-alert m-validation__icon" aria-label="Error!"></i>El
                                        importe introducido no es correcto
                                    </div>
                                </div><span class="c-input-currency__description-text">Mín. 3.000 € - Máx. 75.000
                                    €</span>
                            </div>
                        </div>
                    </div>


                    <!--                        <div class="c-input-currency--label-over c-input-currency--right c-input-currency--symbol">
                          <label class="c-input-currency__label" for="amount">¿Cuánto dinero necesitas?
                          </label>
                          <div class="c-input-currency__wrapper">
                            <input class="c-input-currency__input" id="amount" name="amount" type="text" value="" placeholder="Importe" aria-invalid="false" aria-describedby="description-amount"/>
                            <div class="c-input-currency__symbol">€</div>
                            <div class="c-input-currency__description" id="description-amount"><span class="c-input-currency__description-text">Mín. 3.000 € - Máx. 75.000 €</span>
                            </div>
                          </div>
                        </div> -->




                </div>
            </div>
        </div>
    </div>
    <div id="titulares">
        <fieldset class="segcontrol res">
            <legend>Número de titulares
            </legend>
            <label class="radioOption" for="ntitu-uno">
                <input type="radio" id="ntitu-uno" name="ntitu" value="uno" checked="checked"
                    data-filter=""><span>1</span>
            </label>
            <label class="radioOption" for="ntitu-dos">
                <input type="radio" id="ntitu-dos" name="ntitu" value="dos" data-filter=""><span>2</span>
            </label>
        </fieldset>
    </div>
    <div id="ing">
        <div class="c-input-currency--label-over c-input-currency--right c-input-currency--symbol">
            <label class="c-input-currency__label" for="ingmen">¿Cuáles son tus ingresos mensuales?
            </label>
            <div class="c-input-currency__wrapper">
                <input class="c-input-currency__input" id="ingmen" name="ingmen" type="text" value=""
                    placeholder="Ingresos" aria-invalid="false">
                <div class="c-input-currency__symbol">€</div>
            </div>
        </div>
    </div>
    <div id="gas">
        <div class="c-input-currency--label-over c-input-currency--right c-input-currency--symbol">
            <label class="c-input-currency__label" for="gasmen">¿Cuáles son tus gastos mensuales?
            </label>
            <div class="c-input-currency__wrapper">
                <input class="c-input-currency__input" id="gasmen" name="gasmen" type="text" value=""
                    placeholder="Gastos" aria-invalid="false">
                <div class="c-input-currency__symbol">€</div>
            </div>
        </div>
    </div>
    <div class="no" id="meses">
        <div>
            <div class="grid-row">
                <div class="grid-col-lg-12">
                    <p class="deslider">Cambia el plazo y modifica tu cuota </p>
                    <div class="c-slider">
                        <div class="c-slider__wrapper margin-top-super">
                            <input class="c-slider__input" type="range" id="months" min="24" max="96" value="60"
                                data-round="" data-rmin="24" data-rmax="96" data-link="months" data-event=""
                                aria-describedby="description-months" data-digitdes="meses" aria-label="Meses">
                            <div class="c-slider__bar">
                                <div class="c-slider__handle" style="left: 50%;"><output class="c-slider__output">60
                                        meses</output></div>
                                <div class="c-slider__bar-fill" style="width: 50%;"></div>
                            </div>
                        </div>
                        <dl class="c-slider__description" id="description-months">
                            <dt class="sr-only">Mínimo</dt>
                            <dd class="c-slider__description-value">Mín. 24</dd>
                            <dt class="sr-only">Máximo</dt>
                            <dd class="c-slider__description-value">Máx. 96</dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wrap-button" id="buttons">
        <button class="btn sec medium" id="next" type="button" disabled="">Calcular cuota</button>
    </div>
</div>