<h1>¿Cuál es la idea principal detrás de un prestamo?</h1>
<br>
La idea de los prestamos es obtener dinero rapido. Básicamente eso.
<hr>

<h1>¿Por qué deberiamos recurrir a un prestamo?</h1>
<br>
La pregunta no me parece bien formulada, debería ser: ¿Cuándo deberiamos recurrir a un préstamo?
<br>
Y la respuesta es: Cuando realmente se necesite y se tengan las facilidades para pagar éste en el futuro.